<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"><i class="fa fa-bars fa-lg"></i></a>

      <div class="trigger">
        <a class="page-link" href="{{ .Site.BaseURL }}">Start</a>
        <a class="page-link" href="{{ .Site.BaseURL }}/meta/uber">Über</a>
        <a class="page-link" href="{{ .RSSLink }}">Subscribe</a>
      </div>
    </nav>

  </div>

</header>
